name: CI/CD by branch

on:
  push:
    branches:
      - main
      - stg

jobs:
  test:
    if: github.ref == 'refs/heads/stg'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          echo "test running on stg"

  deploy-stg:
    if: github.ref == 'refs/heads/stg'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to staging
        run: |
          echo "deployed to STG"

  deploy-prod:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to production
        run: |
          echo "deployed to PROD"

