name: Minimal CI/CD
on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CI step
        run: |
          echo "CI: test passed"

  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: CD step
        run: |
          echo "CD: deployed"

